<div class="container-fluid menu-partenaire">
    <div class="text-nos-partenaire">
        <p>Nos partenaires</p>
    </div>
    <div class="row">
        <div class="col boite-partenaire">
            <img src="assets/images-partenaire/guichet-unique.png" alt="logo-guichet-unique">
        </div>
        <div class="col boite-partenaire">
            <img src="assets/images-partenaire/coris-assurance.png" alt="logo-coris-assurance">
        </div>
        <div class="col boite-partenaire">
            <img src="assets/images-partenaire/abdoul-service.png" alt="logo-abdoul-service">
        </div>
        <div class="col boite-partenaire">
            <img src="assets/images-partenaire/simplon.png" alt="logo-guichet-unique">
        </div>
        <div class="col boite-partenaire">
            <img src="assets/images-partenaire/makesens.png" alt="logo-coris-assurance">
        </div>
        <div class="col boite-partenaire">
            <img src="assets/images-partenaire/auf.png" alt="logo-abdoul-service">
        </div>
    </div>
</div>