<section class="top-annonces">
    <p class="titre-top-categorie">Top catégories</p>
    <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
                <app-top-categorie-annonce class="item"></app-top-categorie-annonce>
                <app-top-categorie-annonce class="item"></app-top-categorie-annonce>
                <app-top-categorie-annonce class="item"></app-top-categorie-annonce>
                <app-top-categorie-annonce class="item"></app-top-categorie-annonce>
                <app-top-categorie-annonce class="item"></app-top-categorie-annonce>
            </div>
            <div class="button-area">
                <button type="button" class="prev" appTopAnnoncePrevBoutton><i class="material-icons">navigate_before</i></button>
                <button type="button" class="next" appTopAnnonceNextBoutton><i class="material-icons">navigate_next</i></button>
            </div>
        </div>

    </div>
 
</section>