<footer class="page-footer">
    <div class="container  ctn2">
        <div class="row ctn">
            <div class="col l5 s12 ">
                <h5 class="white-text">Songo Yaar</h5>
                <ul>
                    <li><a class=" btn waves-effect waves-light bouton" href="#!"><i class="material-icons left">add_circle_outline</i>Deposez une annonce</a></li>
                    <li><a class=" btn waves-effect waves-light bouton" href="#!"><i class="material-icons left">add_circle_outline</i>Rechercher</a></li>
                    <li><a class=" btn waves-effect waves-light bouton" href="#!"><i class="material-icons left">add_circle_outline</i>Se connecter</a></li>
                    <li><a class=" btn waves-effect waves-light bouton" href="#!"><i class="material-icons left">add_circle_outline</i>Mes alertes</a></li>
                    <li><a class=" btn waves-effect waves-light bouton" href="#!"><i class="material-icons left">add_circle_outline</i>Aides</a></li>
                </ul>
            </div>
            <div class="col l2 offset-2 s12">
                <h5 class="white-text">Vente Immobilier</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Maison</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Ameublement</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Hôtels</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Chambres d'hôtes</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Terrain</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Entreprot</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Chambres d'hôtes</a></li>
                </ul>
            </div>
            <div class="col l2 offset-2 s12">
                <h5 class="white-text">Location Immobilier</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Maison</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Ameublement</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Hôtels</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Chambres d'hôtes</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Terrain</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Entreprot</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Chambres d'hôtes</a></li>
                </ul>
            </div>
            <div class="col l2 offset-3 s12">
                <h5 class="white-text">Colocation</h5>
                <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Offres</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Demandes</a></li>
                </ul>
            </div>
      </div> 
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>