.page-footer{
    background-color: #474747;
    
}
.ctn2{
    color: #fff;


}
.ctn1{
    color: #fff;
    margin-right:5%;
}

.footer-copyright{
    background-color: #aca5a5;
  
    
}
.bouton{
    width: 250px;
    margin:1%;
    border-radius:20px;
}
